<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>douban 用户列表</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/resources/css/bootstrap.min.css" />
    <script type="text/javascript" src="/resources/js/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="/resources/js/bootstrap-paginator.js"></script>
	<script type="text/javascript" src="/resources/js/bootstrap.min.js"></script>
	<style type="text/css">
		.table th, .table td { 
			text-align: center; 
		}
	    #particles-js {
	        position: absolute;
	        top: 0;
	        width: 100%;
	        height: 100%;
	        z-index: -1;   
	        background-color: white;
        }
	</style>
</head>
<body style="text-align: center; height:100%;" >
	<div id="particles-js"></div>
	<a href='/user/count' class="btn btn-primary" >去看统计图</a>
    <table style="width:900px; margin:10px auto;" class="table-responsive table table-striped table-bordered table-hover table-condensed">
	    <thead>
	    	<tr>
	    		<th>id</th>
	    		<th>名字</th>
	    		<th>href</th>
	    		<th>入库时间</th>
	    		<th>自我介绍</th>
	    	</tr>
	   </thead>
	   <tbody>
	    	<tr th:each="user,userStat : ${list}" >
	    		<td th:text="${user.id}"></td>
	    		<td th:text="${user.name}"></td>
	    		<td th:text="${user.href}"></td>
	    		<td th:text="${user.create_time}"></td>
	    		<td >
	    			<button type="button" class="btn btn-primary"  title="自我介绍"  data-container="body" data-toggle="popover" data-placement="right" 
							th:attr="data-content=${user.content}">
						           点击显示介绍
					</button>
	    		</td>
	    	</tr>
    	</tbody>
    </table>
    <script type="text/javascript">
	    $(function () { 
	    	$("[data-toggle='popover']").popover();
	    });
    </script>
    <script type="text/javascript" src="/resources/particles-js/particles.js"></script>
    <script type="text/javascript" src="/resources/particles-js/app.js"></script>
</body>
</html>